.places {
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}  

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.input {
    border: 0px;
    padding: 0.5;
    text-align: left;
}

.flightResults {
    width: 100%;
}